



/* Global - Rules */

*
{
  box-sizing: border-box;
  margin: 0px;
}

:root
{
  --Mytransions: .3s;
  scroll-behavior: smooth;
  --mainColor:#10cab7 ;
  --secondreyColor:#2c4755;

}

body
{
  font-family: "Work Sans", sans-serif;

}






/* start Header */
.header
{
  padding: 20px;
  
}

.header .hcontainer
{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header .logo
{
 
  width: 100px;

}

.header .links
{
  position: relative;
}

.header .links .icons
{
  margin-left: 36px;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 50px;
  display: flex;
 
}

.header .links:hover ul
{
  display: block;
}

.header .links .icons span
{
  margin-bottom: 5px;
  width: 100%;
  border-bottom: 3px solid;
  
}

.header .links .icons span:nth-child(2)
{
  width: 60%;
  transition: var(--Mytransions);
    -webkit-transition: var(--Mytransions);
    -moz-transition: var(--Mytransions);
    -ms-transition: var(--Mytransions);
    -o-transition: var(--Mytransions);
}

.header .links .icons:hover span:nth-child(2)
{
   width: 100%;
  
}

.header  ul
{
  border-radius: 3%;
  min-width: 150px;
  right: 0px;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #eee;
  top: calc(100% + 15px);
  -webkit-border-radius: 3%;
  -moz-border-radius: 3%;
  -ms-border-radius: 3%;
  -o-border-radius: 3%;
  display: none;
}

.header ul::before
{
  content: "";
  position: absolute;
  top:-20px;
  right: 0px;
  border: 10px solid;
  border-color: transparent transparent #eee transparent;
}


 .header ul li
{
padding: 5px;
  margin-bottom: 5px;
} 

.header ul li:not(:last-child) 
{

    border-bottom: 1px solid;
}


.header ul li a
{
  padding: 15px;
  color: black;
  text-decoration: none;
  transition: var(--Mytransions) ;
  -webkit-transition: var(--Mytransions) ;
  -moz-transition: var(--Mytransions) ;
  -ms-transition: var(--Mytransions) ;
  -o-transition: var(--Mytransions) ;
  text-align: start;
}

.header ul li a:hover
{
  padding-left: 25px;
}

/* End Header */

/* Start Landing */

.landing
{
  background-image: url(/Images/landing772803.jpg);

  background-size: cover;

height: calc(100vh - 64px);

}

 .landing .intro-text
{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    transform: translate(-50%, -50%);
    max-width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);


}


.landing .intro-text h1
{
  margin: 0px;
  font-weight: bold;
  font-size: 50px;
  color: var(--mainColor);

  
}

.landing .intro-text p
{
  font-size: 19px;
    line-height: 1.8;

}








/* End Landing */


/* Start Feature */

.features
{
  background-color: #eee;
}
.features .container 
{

  padding-left: 60px;
  padding-right: 60px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(302px , 1fr));
  
  gap: 30px;
}

.features .container .feat
{
  margin-top: 50px;
  text-align: center;
}

.features .container .feat i
{
  margin-bottom: 30px;
  font-size: 50px;
  color: var(--mainColor);
} 

.features .container .feat h3
{
 font-weight: bold;
 margin-bottom: 10px;
}

.features .container .feat p
{
  line-height: 1.8;
  margin-bottom: 50px;
}

/* End Feature */



/* Start Services */

.services
{
  margin-top: 50px;
}
.services .container
{ 
  
  padding-left: 30px;
    padding-right: 30px;
  margin-left: auto;
  margin-right: auto;


}

.special-heading

{
  font-size: 100px;
    font-weight: 800;
    color: #ebeced;
    letter-spacing: -3px;
    text-align: center;
  margin: 0px;
}

.special-heading +  p
{
  text-align: center;
    font-size: 20px;
    margin-top: -30px;
    color: #797979;
  }


  .services .container .services-content
  {
    display: grid;
      grid-template-columns: repeat(auto-fill, minmax(303px, 1fr));
      gap: 30px;
      /* justify-content: space-evenly ; */
      /* margin-bottom: 50px; */
  }


        .services .container .services-content .srv
        {
          display: flex;
          margin-top: 40px;
        }

    .services .container .services-content i
    {
      /* padding: 20px; */
        margin-top: -30px;
        font-size: 40px;
        color: var(--mainColor);
    }
     .services .container .services-content .srv .text 
   {
     display: flex;
     flex-wrap: wrap;
     text-align: center;
   }
  .services .container .services-content .srv .text h3
  {
    display: flex;
     
      /* white-space-collapse: preserve-breaks; */
      /* align-self: center; */
      /* align-items: center; */
      /* margin-bottom: 20px; */
      margin: 0xp 0px 40px;
      /* margin-right: 20px; */
      font-size: 25px;
    }
    
  
  .services .container .services-content .srv .text
  {
    flex: 1;
  }

        .services .container .services-content .srv .text p
        {
          margin-top: 10px;
        }


  .services .container .services-content .image 
  {
/* margin: auto; */
  width: 230px;
  margin-left: 80px;
  position: relative;
  height: 300px;
}
  


.services .container .services-content .image::before

  {
    position: absolute;
      content: "";
      height: calc(100% + 60px);
      width: 80px;
      background-color: var(--secondreyColor);
      right: -26px;
      top: -31px;
      z-index: -1;
  }



  .services .container .services-content .image img
{
 width: 100%;
 height: 100%;
}

/* End Services */

/* start Protfolo */

.portfolio
{
  background-color: #eee;
}

.portfolio .special-heading
{
 color: #bacee2;
}

.portfolio .container
{
  margin-top: 200px;
  padding-right:50px ;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;

  

}

.portfolio .portfolio-content
{
  margin-top: 100px;
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(302px, 1fr));
    gap: 30px;
}

.portfolio .card
{
margin-bottom: 50px;
 background-color: white;
    margin-top: 20px;
  width: 300px;
 
}

.portfolio img
{

  max-width: 100%;
}

.portfolio .card h3
{
  font-weight: bolder;
  margin-top:20px;
    padding-left: 10px;
}
.portfolio .card p
{
  margin-top: 20px;
  line-height: 1.8;
  padding-left: 10px;
}

/* End Protfolo */

/* start About */

.container
{
  
  margin-top: 50px;
  padding-right:50px ;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;

  margin-bottom:150px ;
}

.about-content
{
  margin-top: 100px;
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 100px;
    justify-content: s;
}

.about .image
{
  margin-left: 101px;
  width: 200px;
  position: relative;
}

.about .image img
{
  max-width: 100%;
}

.about .image::before
{position: absolute;
    content: "";
    width: 67px;
    left: -26px;
    z-index: -1;
    top: -30px;
    height: calc(100% + 45px);
    background-color: #ebeced;
}

.about .image::after
{
      content: "";
    position: absolute;
    width: 90px;
    top: -59px;
    z-index: -1;
    right: -108px;
    height: calc(100% + -40px);
    border-left: 60px solid #10cab7;
    border-bottom: 60px solid #10cab7;
   
}

.about .caption p:first-child

{
font-weight: bold;
    line-height: 1.8;
    margin-bottom: 15px;

}


.about .caption p:last-child
{

  color: #777;
    line-height: 1.8;
    margin-top: 13px;
}



/* End About */

/* Start Contact */
.contact .container
{
  
  margin-top: 50px;
  padding-right:50px ;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;

  margin-bottom:150px ;
}

.contact .info
{
  display: grid;
 
  justify-content: center;
  font-size: 16px;
  margin-top: 30px;
  text-align: center;
}

.contact .lable
{
  font-size: 40px;
  color: var(--secondreyColor);
  font-weight: bold;
  margin-bottom: 10px;
}

.contact  a
{
 font-size: 41px;
    text-decoration: none;
    margin-bottom: 10px;
    color: var(--mainColor);
    font-weight: bold;
}

.contact .info .social
{
  font-size: 30px;
    margin-bottom: 108px;
}


/* End Contact */


.footer 
{

  color: white;
  text-align: center;
  font-size: 20px;
  padding: 30px 10px;
  background-color: var(--secondreyColor);
}

 .footer span
{
  color: var(--mainColor);
}